.dither-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: linear-gradient(45deg, var(--nc-black), var(--nc-cyan));
  filter: url(#dither);
  pointer-events: none;
}
